<table class="table table-striped">
        <td>Item Seller</td>
        <td>Item Name</td>
        <td>Price</td>
        <td>Quantity</td>
    </tr>
    <% if session[:cart] %>
        <% session[:cart].each do |item_id, quantity| %>
        <% item = Item.find_by(id: item_id) %>
            <tr>
                <td>
                    <%= item.user.first_name %> <%= item.user.last_name %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <%= quantity %>
                </td>
            </tr>
        <% end %>
    <% end %>
    <tr>
        <td>
            Order Total:
        </td>
        <td>
        </td>
        <% if session[:cart] %>
            <% total_price = 0 %>
            <% total_quantity = 0 %>
            <% session[:cart].each do |item_id, quantity| %>
                <% item = Item.find(item_id) %>
                <% total_quantity += quantity %>
                <% total_price += (item.price * quantity) %>
            <% end %>
            <td>
                <%=total_price%> 
            </td>
            <td>
               <%=total_quantity%>
            </td>
        <% end %>
    </tr>
</table>

<h1>Items purchased, Congratulations!</h1>

<% if session[:cart] %>
    <% session[:cart].each do |item_id, quantity_bought| %>
        <% item = Item.find_by(id: item_id) %>
        <% quantity_remaining = item.quantity - quantity_bought %>
        <% if quantity_remaining == 0 %>
            <% item.destroy %>
        <% else %>
            <% item.update_attribute(:quantity, item.quantity - quantity_bought) %>
        <% end %>
    <% end %>
    <% clear_cart %>
<% end %>