<% provide(:title, "Purchase Complete") %>
<table class="table table-striped">
        <td>Item Seller</td>
        <td>Item Name</td>
        <td>Price</td>
        <td>Quantity</td>
    </tr>
    <% if session[:cart] %>
        <% session[:cart].each do |item_id, quantity| %>
            <% item = Item.find_by(id: item_id) %>
            <!-- Line below generates receipt for purchasing this item, if possible -->
            <% if logged_in? %>
                <% get_receipt(current_user, item.user, item, quantity, quantity * item.price) %>
            <% else %>
                <% get_receipt(nil, item.user, item, quantity, quantity * item.price) %>
            <% end %>
            <tr>
                <td>
                    <%= item.user.first_name %> <%= item.user.last_name %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <%= quantity %>
                </td>
            </tr>
        <% end %>
    <% end %>
    <tr>
        <td>
            Order Total:
        </td>
        <td>
        </td>
        <% if session[:cart] %>
            <% total_price = 0 %>
            <% total_quantity = 0 %>
            <% session[:cart].each do |item_id, quantity| %>
                <% item = Item.find(item_id) %>
                <% total_quantity += quantity %>
                <% total_price += (item.price * quantity) %>
            <% end %>
            <td>
                <%=total_price%> 
            </td>
            <td>
               <%=total_quantity%>
            </td>
        <% end %>
    </tr>
</table>

<h1>Items purchased, Congratulations!</h1>

<% purchase_cart %>