<% provide(:title, "Purchase Complete") %>

<table class="table table-striped">
        <td>Item Seller</td>
        <td>Item Name</td>
        <td>Price</td>
        <td>Quantity</td>
    </tr>
    <% if params[:cart_contents] %>
        <% params[:cart_contents].each do |item_id, quantity| %>
            <% item = Item.find_by(id: item_id) %>
            <tr>
                <td>
                    <%= item.user.first_name %> <%= item.user.last_name %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <%= quantity %>
                </td>
            </tr>
        <% end %>
    <% end %>
    <tr>
        <td>
            Order Total:
        </td>
        <td>
        </td>
        <% if params[:cart_contents] %>
            <% total_price = 0 %>
            <% total_quantity = 0 %>
            <% params[:cart_contents].each do |item_id, quantity| %>
                <% item = Item.find(item_id) %>
                <% total_quantity += quantity.to_i %>
                <% total_price += (item.price * quantity.to_i) %>
            <% end %>
            <td>
                <%=total_price%> 
            </td>
            <td>
               <%=total_quantity%>
            </td>
        <% end %>
    </tr>
</table>

<h1>Items purchased, Congratulations!</h1>

<h2> Check out these items too! </h2>
<% tags = recommended_search_tags_from_items(params[:cart_contents].keys) %>
<% items = internal_search(tags) %>
<%= render "recommended_items_from_purchase", :items => items %>

<% purchase_cart_contents(current_user) %>