<% if @results.count > 0 %>
    <table WIDTH="98%" BORDER="2" ALIGN="CENTER" CELLSPACING="40">
        <tr ALIGN="Center">
            <td></td>
            <td>Order Number</td>
            <td>Seller Name</td>
            <td>Seller Address</td>
            <td>Item Name</td>
            <td>Item Quantity</td>
            <td>Total Charge</td>
            <td>Buyer Name</td>
            <td>Buyer Address</td>
            <td>Driver</td>
            <td>Status</td>
            <td>Time Since Last Update</td>
            <td></td>
        </tr>
        <% @results.each do |receipt| %>
            <tr>
                <td></td>
                <td>
                  <%= receipt.id %>
                </td>
                <td>
                  <%= receipt.seller.first_name %> <%= receipt.seller.last_name %>
                </td>
                <td>
                  <% if receipt.seller.address %>
                    <%= receipt.seller.address.display %>
                  <% end %>
                </td>
                <td>
                  <%= receipt.item_name %>
                </td>
                <td>
                  <%= receipt.item_quantity %>
                </td>
                <td>
                  <%= receipt.charge %>
                </td>
                <td>
                  <%= receipt.buyer.first_name %> <%= receipt.buyer.last_name %>
                </td>
                <td>
                  <% if receipt.buyer.address %>
                    <%= receipt.buyer.address.display %>
                  <% end %>
                </td>
                <td>
                  <% if receipt.claimed != 0%>
                    <% driver =  Driver.find_by(id: receipt.claimed) %>
                    <%= driver.first_name %> <%= driver.last_name %>
                  <% end %>
                </td>
                <td>
                  <%= receipt.status %>
                </td>
                <td>
                  <%= time_diff(Time.now, receipt.updated_at) %>
                </td>
                <td></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <h3>No results found</h3>
<% end %>