<% if @results.count > 0 %>
    <table WIDTH="99%" BORDER="2" ALIGN="CENTER" CELLSPACING="40">
        <tr ALIGN="Center">
            <td></td>
            <td>ID</td>
            <td>Key</td>
            <td>Name</td>
            <td>Phone</td>
            <td>License</td>
            <td>Bank Info</td>
            <td>Amount Owed</td>
            <td></td>
        </tr>
        <% @results.each do |driver| %>
            <tr>
                <td></td>
                <td>
                  <%= driver.id %>
                </td>
                <td>
                  <%= driver.key %>
                </td>
                <td>
                  <%= driver.name %>
                </td>
                <td>
                  <%= driver.phone %>
                </td>
                <td>
                  <%= driver.license %>
                </td>
                <td>
                  <%= driver.bank_info %>
                </td>
                <td>
                  <%= driver.amount_owed %>
                </td>
                <td></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <h3>No results found</h3>
<% end %>