<h3> Instructions </h3>
TO GET ALL UNPICKED UP DELIVERIES: Select "not picked up" leave search blank. <br>
TO GET ALL TRANSACTIONS: Select "transaction". To filter, leave a number, X, to 
find all transactions which aren't complete and which haven't been updated in at
least X hours.<br>
TO GET ALL DRIVERS: Select "drivers". To filter by ID, leave their id number in
the search. <br>
TO GET A SPECIFIC TRANSACTION/ORDER: Select "delivery", enter in the order ID in search.
If search is left blank, it'll display all non-complete deliveries. <br>
TO GET A USER'S BASIC INFORMATION: Select "users" and enter in their email. If left
blank, will display all users. <br>
TO GET ALL TRANSACTIONS RELATED TO A USER: Select "user transaction" and enter in their email. <br>

<%= render "form_controls" %>
<% if params[:type] == "not picked up" %>
  <%= render "not_picked_up" %>
<% elsif params[:type] == "transaction" %>
  <%= render "transactions" %>
<% elsif params[:type] == "drivers" %>
  <%= render "drivers" %>
<% elsif params[:type] == "delivery" %>
  <%= render "delivery" %>
<% elsif params[:type] == "users" %>
  <%= render "users" %>
<% elsif params[:type] == "user transaction" %>
  <%= render "user_transaction" %>
<% end %>
<br>

TO UPDATE A DRIVER ACCOUNT AND SEND THEM AN INVOICE, ENTER THEIR ID AND THE AMOUNT THEY HAVE BEEN PAID<br>

<%= render "form_invoice" %>