<% provide(:title, @user.first_name + " " + @user.last_name) %>
<h1>User: <%= @user.id %></h1>

    <%= @user.first_name %>
    <%= @user.last_name %>
    <br>
    <%= @user.email %>
    
    <% if @user == current_user %>
        <table>
            <% Item.where(user: @user).find_each do |item| %>
                <tr>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                         <%= link_to "Remove Item", remove_item_path(id: item.id) %>
                    </td>
                </tr>
            <% end %>
        </table>
        <br>
        <%= link_to "Delete Account", delete_user_path(id: @user.id) %>
    <% end %>
