<h1>User: <%= @user.id %></h1>

    <%= @user.first_name %>
    <%= @user.last_name %>
    <br>
    <%= @user.email %>
    
    <table>
        <% Item.where(user: @user).find_each do |item| %>
            <tr>
                <td>
                    <%= item.name %>
                </td>
                <td>
                     <%= link_to "Remove Item", remove_item_path(id: item.id) %>
                </td>
            </tr>
        <% end %>
    </table>
