<% provide(:title, "Items") %>
<h1>Items</h1>
  <table WIDTH="50%" BORDER="2" ALIGN="CENTER" CELLSPACING="40">
        <tr ALIGN="Center">
            <td>Owner</td>
            <td>Item Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Description</td>
            <td> </td>
        </tr>
        <% Item.all.each do |item| %>
            <tr>
                <td>
                    <% if item.user %>
                        <%= item.user.first_name %> <%= item.user.last_name %>
                    <% end %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <%= item.quantity %>
                </td>
                <td>
                    <%= item.desc %>
                </td>
                <td>
                    <%= form_tag(cart_path(item)) do %>
                        <%= select_tag "quantity", options_for_select((1..item.quantity).to_a, 1) %>
                        <%= submit_tag("Add to cart") %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
