<h1>Items</h1>

<table>
    <tr>
        <td>
            Owner
        </td>
        <td>
            Item Name
        </td>
        <td>
            Price
        </td>
        <td>
            Quantity
        </td>
        <td>
            Description
        </td>
        </tr>
        <% Item.all.each do |item| %>
            <tr>
                <td>
                    <%= item.user.first_name %> <%= item.user.last_name %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <%= item.quantity %>
                </td>
                <td>
                    <%= item.desc %>
                </td>
            </tr>
            <% end %>
</table>
