<h1>Items</h1>

<table>
    <tr>
        <td>
            Owner
        </td>   
        <td>
            Name
        </td>
        <td>
            Price
        </td>
        <td>
            Quantity
        </td>
        <td>
            Description
        </td>
        <% Item.all.each do |item| %>
    <tr>
        <td>
            <%= item.owner %>
        </td>
        <td>
            <%= item.name %>
        </td>
        <td>
            <%= item.price %>
        </td>
        <td>
            <%= item.quantity %>
        </td>
        <td>
            <%= item.desc %>
        </td>
        <% end%>
    </tr>
    
</table>