<%= form_for @item do |f| %>
    <h3>Add Item</h3>
    <%= f.label :owner %>
    <%= f.text_field :owner %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :price %>
    <%= f.number_field :price %>
    
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    
    <h3>Enter a description</h3>
    <%= f.label :desc %>
    <%= f.text_field :desc %>
    
    <%= f.submit 'Create Item' %>
<% end %>
    