<% provide(:title, "Item ##{@item.id}") %>
<h1>Item id: <%= @item.id %></h1>
    <br>
    Seller: <%= @item.user.first_name %> <%= @item.user.last_name %>
    <br>
    
    Item name: <%= @item.name %>
    <br>
    
    Price: $<%= @item.price %>
    <br>
    
    Quantity: <%= @item.quantity %>
    <br>
    
    Description: <%= @item.desc %>