<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Өртөө", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Cart", cart_path %></li>
        <li><%= link_to "Receipt Tracker", tracker_path%></li>
        <% if logged_in? %>
          <li><%= link_to "Sell Item", new_item_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
          <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
          <li><%= link_to current_user.first_name + " " + current_user.last_name, current_user%></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>